.cache
.idea
.vscode
.docusaurus
node_modules
coverage
.DS_Store
*.tar.gz
*.tar
*.zip
*.tgz
*.swp
*.swo
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
es/
lib/
build
tsconfig.tsbuildinfo
